{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}
<div class="d-flex justify-content-center align-items-center gap-4 mt-5">
  <img style="width: 600px; height: 500px;" src="{{object.image.url}}" alt="" />
  <div>
    <h1>{{object.name}}</h1>
    <p>{{object.description}}</p>
    <h4>{{object.brand}}</h4>
    <h4>{{object.price}}</h4>
    {% if object.quantity > 0 %}
    <h4>{{object.quantity}}</h4>
    {% else %}
    <h4><del>Sold Out</del></h4>
    {% endif %}
    {% if user.is_authenticated %}
    {% if object.quantity > 0 %}
    <a class="text-decoration-none text-dark btn btn-warning" href="{% url 'purchase' id=object.id %}">Buy Now<a>
    {% endif %}
    {% endif %}
  </div>
</div>

<div class="card m-2 p-2">
    <h5>Total comments: {{comments | length}}</h5>
    {% for comment in comments %}
    <div class="card-body border m-1">
        <p><b>{{comment.name}} </b>{{comment.created_on}}</p>
        <p>{{comment.body}}</p>
    </div>
    {% endfor %}
</div>

<div class="card m-2">
    <div class="card-body">
        <form method="post">
            <h4>Type your comment here</h4>
            {% csrf_token %}
            {{comment_form | crispy}}
            <input class="btn btn-warning" type="submit" value="Submit">
        </form>
    </div>
  </div>
{% endblock %}

