{% extends 'base.html' %}
{% load static %}
{% block content %}
{% csrf_token %}
<div class="d-flex justify-content-center align-items-center w-75 m-auto mt-5" >
    <div>
        <p class="fw-lighter text-warning">Discover a diverse range of cars that cater to every taste and preference. From sleek and sophisticated sedans to powerful SUVs and high-performance sports cars, our collection embodies the spirit of driving excellence. Each vehicle has been carefully selected to ensure a harmonious blend of design, technology, and driving pleasure.</p>
    </div>
    <img class="rounded-2" style="width: 500px; height: 450px;" src="{% static 'cover.jpg' %}" alt="">
</div>
<div class="d-flex justify-content-center align-items-center gap-2 m-3">
    {% for cat in data2 %}
    <div class="border border-success text-center rounded-1 p-2">
        <a class="text-decoration-none text-light" href="{% url 'brand_slug' cat.slug %}">{{cat.name}}</a>
    </div>
    {% endfor %}
</div>
<h3 class="text-light" style="width: 25%; margin: auto;">Available Total cars: {{data|length}}</h3>
<div class="card-container d-flex gap-2 mt-5 flex-wrap justify-content-center">
    {% for car in data %}
    <div class="card mb-4 border-0 rounded-2" style="width: 18rem;">
        <img src="{{ car.image.url }}" class="card-img-top" style="height: 200px;" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ car.brand }}</h5>
            <h5 class="card-title">{{ car.name }}</h5>
            <h5 class="card-title">{{ car.price }}</h5>
        </div>
        <button class="btn btn-warning rounded-0 rounded-bottom-1"><a class="text-decoration-none text-dark" href="{% url 'detail' car.id %}">View Details</a></button>
    </div>
    {% endfor %}
</div>


{% endblock %}